#navbar{
    background-color:rgb(250, 217, 177);
    padding: 1%;
}
body{
    background-color:blanchedalmond
}
.navElement{
    background-color: blanchedalmond;
    border: 2px,solid,orange;
    text-decoration: none;
    color: black;
    padding: 0.5%;
}
.blogBox{
    background-color: bisque;
    border: 2px solid black;
    padding: 1%;
    border-color: black;
    margin: 1%;
}
.gifs{
    size: 0.5vw;
}