body{
    background-color: bisque;
    margin: 0px;
}
.nav{
    margin: 0px;
    padding: 1vw;
    background-color: rgb(255, 199, 115);
}
.navtext{
    font-size: 1.2vw;
    background-color: bisque;
    padding: 0.7vw;
    margin: 0.1vh;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(58, 32, 0);
}
.title{
    font-size: clamp(1.5vw, 2.5vw, 4vw);
    font-family: 'Lucida Sans';
    margin: 1vh;
}
.fontOne{
    font-size: 0.7vw;
}
.autoImageOne{
    width: clamp(3vw, 4vw, 5vw);
}